@page "/"

<PageTitle>Smart Home</PageTitle>

@using SmartHome.Connection.Interfaces;
@inject ISmartDeviceService SmartDeviceService

@if (_loaded)
{
    <button class="btn btn-primary" @onclick="RefreshDevices">Refresh Device List</button>

    <div class="row">
        @foreach (var device in _smartDevices)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                <SmartDeviceControl SmartDevice="device"></SmartDeviceControl>
            </div>
        }
    </div>
}
else
{
    <p>Loading Devices...</p>
}

@code {
    private bool _loaded = false;

    private List<ISmartDevice> _smartDevices = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SetSortedDevices();
        this._loaded = true;
    }

    private async Task RefreshDevices()
    {
        this._loaded = false;
        await this.SmartDeviceService.DiscoverDevices();
        SetSortedDevices();
        this._loaded = true;
    }

    private void SetSortedDevices()
    {
        this._smartDevices = this.SmartDeviceService.AvailableDevices.OrderBy(ad => ad is ISmartPlug).ThenBy(ad => ad.Alias).ToList();
    }
}