@using SmartHome.Connection.Interfaces;
<div class="card" style="width: 100%; max-width: 25rem; background-color:rgb(@GetRGB())">
  <div class="card-body">
    <h5 class="card-title" @onclick="TogglePower">@(_isBulb ? "💡" : "🔌") @SmartDevice.Alias</h5>
    <p class="card-text">Model: @SmartDevice.Model.Replace("(US)", string.Empty)</p>
    @if (_isPlug)
    {
        <SmartPlugControl SmartPlug="SmartDevice as ISmartPlug" ></SmartPlugControl>
    }
    else if (_isBulb)
    {
        <SmartBulbControl SmartBulb="SmartDevice as ISmartBulb"></SmartBulbControl>
    }
  </div>
</div>

@code {
    private bool _isBulb => SmartDevice is ISmartBulb;
    private bool _isPlug => SmartDevice is ISmartPlug;

    private bool _poweredOn => SmartDevice.On;

    [Parameter]
    public ISmartDevice SmartDevice { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void TogglePower()
    {
        SmartDevice.On = !SmartDevice.On;
    }

    private string GetRGB()
    {
        // Default to white
        string rgb = "255,255,255";

        if (_isBulb)
        {
            ISmartBulb smartBulb = SmartDevice as ISmartBulb;
            int hue = smartBulb.Hue;
            // TODO Get RGB from Hue
        }

        return rgb;
    }
}