@using SmartHome.Connection.Interfaces;
@using SmartHome.Connection.Services;
@inject DelayService _delayService;

<h5>On Since</h5>
@if (SmartPlug.On)
{
    <p>@_onSince</p>

}
else
{
    <p> -- </p>
}

@code {
    [Parameter]
    public ISmartPlug SmartPlug { get; set; }

    private string _onSince;

    protected override void OnInitialized()
    {
        _onSince = SmartPlug.OnSince.ToLongTimeString();

        Timer timer = new Timer(UpdateOnSince, null, 0, 2000);

        base.OnInitialized();
    }

    private void UpdateOnSince(object? state)
    {
        // Exceptions being throw here; I think the timer + waiting for an async method is problematic
        _onSince = SmartPlug.OnSince.ToLongTimeString();
        SmartPlug.RefreshAsync().Wait();
        InvokeAsync(StateHasChanged);
    }
}
